@import url("./base.css");

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: var(--htmlFontSize);
}

body {
  background-color: #342d34;
  color: white;
  font-family: var(--bodyFontFamily), var(--bodyFontFamilyFallback);
  font-size: var(--bodyFontSize);
  font-weight: var(--bodyFontWeight);
  line-height: var(--bodyLineHeight);
  /* margin: 0; */
  min-block-size: 100vh;
  /* display: grid; */
  /* place-items: center; */

  padding: 2rem;
}

/* div.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
} */

div.row {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 2rem; */
  border: 1px solid orangered;
}
